<div class="container1">
    <div class="heading">
        <h3>Portfolio <span>| Gallery</span></h3>
    </div>

    <div class="heading">
        <h2>Manicure</h2>
    </div>

    <div class="box">
        <div class="dream">
            <img src="../../../assets/Images/manicure/nails5.png" alt="nails image">
            <button *ngIf="isLoggedIn" class="middle"><a routerLink='/views/manicure'>More</a></button>
        </div>
        <div class="dream">
            <img src="../../../assets/Images/manicure/nails6.png" alt="nails image">
            <button *ngIf="isLoggedIn" class="middle"><a routerLink='/views/manicure'>More</a></button>
        </div>
        <div class="dream">
            <img src="../../../assets/Images/manicure/nails4.jpg" alt="nails image">
            <button *ngIf="isLoggedIn" class="middle"><a routerLink='/views/manicure'>More</a></button>
        </div>
    </div>

</div>


<div class="container1">
    <div class="heading">
        <h2>Makeup</h2>
    </div>

    <div class="box">
        <div class="dream">
            <img src="../../../assets/Images/makeup/makeup1.png" alt="makeup image">
            <button *ngIf="isLoggedIn" class="middle"><a routerLink='/views/makeup'>More</a></button>
        </div>
        <div class="dream">
            <img src="../../../assets/Images/makeup/makeup2.png" alt="makeup image">
            <button *ngIf="isLoggedIn" class="middle"><a routerLink='/views/makeup'>More</a></button>
        </div>
        <div class="dream">
            <img src="../../../assets/Images/makeup/makeup7.png" alt="makeup image">
            <button *ngIf="isLoggedIn" class="middle"><a routerLink='/views/makeup'>More</a></button>
        </div>
    </div>
</div>

<div class="container1">
    <div class="heading">
        <h2>Hairdressing</h2>
    </div>
    <div class="hair">
        <div class="box">

            <div class="dream">
                <img src="../../../assets/Images/hair/haircut1.png" alt="haircut image">
                <button *ngIf="isLoggedIn" class="middle"><a routerLink='/views/haircut'>More</a></button>
            </div>

            <div class="dream">
                <img src="../../../assets/Images/hair/hairColoring2.png" alt="hairColoring image">
                <button *ngIf="isLoggedIn" class="middle"><a routerLink='/views/haircoloring'>More</a></button>
            </div>

            <div class="dream">
                <img src="../../../assets/Images/hair/hairstyle1.jpg" alt="hairstyle image">
                <button *ngIf="isLoggedIn" class="middle"><a routerLink='/views/hairstyles'>More</a></button>                
            </div>
        </div>
    </div>
</div>