<h4 class="title1">Manicure</h4>

<div class="container1">
    <div class="box">

        <div class="dream">
            <img src="../../../assets/Images/manicure/nails1.jpg" alt="nails image">
            <img src="../../../assets/Images/manicure/nails4.jpg" alt="nails image">
        </div>

        <div class="dream">
            <img src="../../../assets/Images/manicure/nails2.png" alt="nails image">
            <img src="../../../assets/Images/manicure/nails5.png" alt="nails image">
        </div>

        <div class="dream">
            <img src="../../../assets/Images/manicure/nails3.jpg" alt="nails image">
            <img src="../../../assets/Images/manicure/nails6.png" alt="nails image">
        </div>

    </div>
</div>

<div class="prices">

    <h4 class="title1">Price list</h4>
    <p>Manicure - cleaning with a file, nail shaping, varnishing:</p>

    <div class="content1">
        <p>Pedicure with gel polish - BGN 40</p>
        <p>Pedicure with regular polish - BGN 35</p>
        <p>Pedicure without varnish - BGN 30</p>
        <p>Gel polish removal - BGN 5</p>
    </div>
</div>


