<div class="about1">Beauty Salon "Style"</div>

<div>
  <app-header></app-header>
</div>

<div class="main-header">
  <div class="about">About the salon</div>
  <div class="textAbout">
    <p><strong>"Style" beauty salon</strong> offers its customers tradition combined with innovation, style and
      class. With us you will get the best services in the field of hairdressing, make-up and manicure. Your
      perfect appearance and self-confidence will be taken care of by highly qualified professionals who apply
      the latest fashion trends in their work.
    </p>
  </div>

  <div id="container">
    <a class="follow" routerLink="https://www.facebook.com/">Follow us in
      Facebook</a>
  </div>

</div>

<section>
  <h4>Work Time</h4>
  <div class="time">
    <div class="clock"><i class="fas fa-clock"></i></div>
    <strong>Monday - Saturday</strong>
    <br>
    <p>10:00 - 19:00</p>
  </div>

  <div class="time">
    <strong>Sunday</strong>
    <br>
    <p class="only">By appointment only</p>
  </div>
</section>

<hr>

<div class="map">
  <div class="address-info">
    <span>Beauty salon "Style" is located in the center of the city of Plovdiv at 193a "6th Septemvri"
      Blvd.</span>
  </div>

  <article>
    <h4 class="workingTimeTitle">You can find us HERE<i class="fa fa-chevron-down"></i></h4>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2957.9176503756375!2d24.754873!3d42.152049!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd198d911fe79%3A0x97c69affdbdf9bd5!2zU2Fsb25TdXppIC0g0YTRgNC40LfRjNC-0YDRgdC60Lgg0Lgg0LrQvtC30LzQtdGC0LjRh9C10L0g0YHQsNC70L7QvQ!5e0!3m2!1sbg!2sbg!4v1652990611823!5m2!1sbg!2sbg"
      width="600" height="450" style="border:0;"></iframe>
  </article>
</div>