*{
    margin: 0;
    padding: 0;
}

.title1{
    color: #7a6426;
    font-size: 28px;
    font-family: 'Playfair Display',"Times New Roman",Times,Baskerville,Georgia,serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;
}


.map iframe {
    width: 100%;
    height: 300px;
    margin-top: 30px;
}

.map h4{
    text-transform: none;
}

.contacts{
    text-align: center;
    font-size: 26px;
    width: 65%;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    margin: 70px 50px;
    background: rgba(255, 255, 255, 0.568);
}

.contacts img{
    padding-top: 40px;
}

.contacts a{
    text-decoration: none;
}


#contact-section{
  background: rgba(255, 255, 255, 0.4);
  height: 100%;
  width: 100% ;
  padding-bottom: 2%;
  margin-top: 5%;
}    

#contact-section .contact-form p{
    font-size: 1.5em;
    text-align: center; 
    width: 80%; 
    padding-bottom: 3%;
    padding-top: 20px;
    color: #000;
    letter-spacing:3px;
    margin-top: 7%;
}

.contact-form{
    padding-left: 10%;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.contact-form p{
    text-decoration: underline;
}
 
.contact-form{
    display: grid;
    grid-template-columns: auto auto;
}

.form-info{
    font-size: 18px;
    font-style: italic;
    color: black;
    letter-spacing: 2px;
}

input, textarea{
    font-size: 16px;
    padding: 10px;
    margin:10px;
    width: 70%;
    background-color:rgba(136, 133, 133, 0.5);
    color: black;
    border: none;
    outline:none;
}

input::placeholder{
    color: black;
}

textarea::placeholder{
   color: #000;
}

.submit{
  width: 28%;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 45px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2px;
  margin: 8px 140px;
  background-color:rgb(190, 190, 190);
  color: #000;
  border: 1.4px solid black;
}

 .submit:hover{
    background-color: #fff;
  cursor: pointer;
}

