<section class="map_comment">
    <h4 class="title1">Contacts</h4>

    <div id="contact-section">
       <div class="contact-form">

        <aside>        
          <p>Send us a comment HERE:<img src="../../../assets/Images/email.png"></p>
        <form action="#" method="POST">

          <input type="text" placeholder="Enter your first name..." required>
          <input type="text" placeholder="Enter your last name..." required><br>
          <input type="Email" placeholder="Enter your email..." required><br>
          <textarea name="message" placeholder="Write your comment..." rows="5" required></textarea><br>
          <button class="submit">Send Message</button>
        </form> 
      </aside> 

         <aside class="contacts">
           <a href="https://goo.gl/maps/gJ7qdJm5bP7HWPqR8"><img src="../../../assets/Images/location.png"><span class="form-info"> 6th Septemvri Blvd. Center, Plovdiv</span></a><br>
           <a href="#"><img src="../../../assets/Images/phone.png"><span class="form-info"> +359878888888</span></a><br>
           <a href="#"><img src="../../../assets/Images/email.png"><span class="form-info"> Style_Beauty@gmail.com</span></a>
         </aside>
         
       </div>
    </div>

    <article class="map">
        <h4 class="title1">You can find us HERE<i class="fa fa-chevron-down"></i></h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2957.9176503756375!2d24.754873!3d42.152049!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd198d911fe79%3A0x97c69affdbdf9bd5!2zU2Fsb25TdXppIC0g0YTRgNC40LfRjNC-0YDRgdC60Lgg0Lgg0LrQvtC30LzQtdGC0LjRh9C10L0g0YHQsNC70L7QvQ!5e0!3m2!1sbg!2sbg!4v1652990611823!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>	
    </article>

</section>