<h4 class="title1">Haircut</h4>

<div class="container1">
    <div class="heading">

        <h3><span>| Man |</span></h3>
    </div>

    <div class="box">
        <div class="dream">
            <img src="../../../../assets/Images/hair/haircut1.png" alt="haircut image">
        </div>

        <div class="dream">
            <img src="../../../../assets/Images/hair/haircut2.png" alt="haircut image">
        </div>

        <div class="dream">
            <img src="../../../../assets/Images/hair/haircut3.png" alt="haircut image">
        </div>

    </div>
</div>


<div class="container1">
    <div class="heading">

        <h3><span>| Women |</span></h3>
    </div>

    <div class="box">
        <div class="dream">
            <img src="../../../../assets/Images/hair/haircut4.png" alt="haircut image">
        </div>

        <div class="dream">
            <img src="../../../../assets/Images/hair/haircut5.png" alt="haircut image">
        </div>

        <div class="dream">
            <img src="../../../../assets/Images/hair/haircut6.png" alt="haircut image">
        </div>

    </div>
</div>


<section class="prices">

    <h4 class="title1">Price list</h4>
    <div class="content1">
        <p>Men's haircut - BGN 10</p>
        <p>Skinfade male haircut - BGN 15</p>
        <p>Shaping a beard with a machine - BGN 10</p>
    </div>
    <hr>
    <div class="content1">
        <p>Women's <strong>short hair cut</strong> - BGN 10</p>
        <p>Women's <strong>long hair cut</strong> - BGN 15</p>
    </div>
</section>