<h4 class="title1">Makeup</h4>

<div class="container1">
    <div class="box">

        <div class="dream">
            <img src="../../../assets/Images/makeup/makeup2.png" alt="nails image">
        </div>
        
        <div class="dream">
            <img src="../../../assets/Images/makeup/makeup1.png" alt="nails image">
        </div>
        
        <div class="dream">
            <img src="../../../assets/Images/makeup/makeup7.png" alt="nails image">
        </div>

    </div>
</div>

<div class="prices">

    <h4 class="title1">Price list</h4>
    <p>Makeup:</p>

    <div class="content1">
        <p>Simple makeup - BGN 20</p>
        <p>Everyday makeup - BGN 40</p>
        <p>For a formal occasion - BGN 60</p>
    </div>
</div>