<h4 class="title1">Haircoloring</h4>

<div class="container1">
    <div class="heading">

        <h3><span>| Women |</span></h3>
    </div>

    <div class="box">
        <div class="dream">
            <img src="../../../../assets/Images/hair/haircoloring1.jpg" alt="haircoloring image">
        </div>

        <div class="dream">
            <img src="../../../../assets/Images/hair/haircoloring2.jpeg" alt="haircoloring image">
        </div>

        <div class="dream">
            <img src="../../../../assets/Images/hair/haircoloring3.jpg" alt="haircoloring image">
        </div>

    </div>
</div>


<section class="prices">

    <h4 class="title1">Price list</h4>
    <div class="content1">
        <p>Permanent Colour - BGN 30</p>
        <p>Ombré - BGN 50</p>
        <p>Balayage - BGN 70</p>
    </div>
</section>